@font-face {
  font-family: 'SFProDisplay-Light', sans-serif;
  src: url("../fonts/SFProDisplay-Light.woff2") format("woff2"), url("../fonts/SFProDisplay-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

p[data-typing-text]::after {
  content: '|';
  -webkit-animation: blink-caret 1s linear infinite;
          animation: blink-caret 1s linear infinite;
  white-space: nowrap;
  overflow: hidden;
  color: #CCCCCC;
}

@-webkit-keyframes blink-caret {
  50% {
    color: transparent;
  }
}

@keyframes blink-caret {
  50% {
    color: transparent;
  }
}

body {
  font-family: 'Hind Madurai', sans-serif;
  font-weight: 300;
  font-size: 24px;
  min-width: 320px;
  overflow-x: hidden;
  color: #CCCCCC;
  background-color: #222222;
}

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  position: relative;
  padding: 16px 20px 16px 20px;
  border: solid 2px #64FFDA;
  color: #64FFDA;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.btn:visited {
  color: #64FFDA;
}

.btn:hover {
  background-color: #64FFDA;
  color: #222222;
}

.section-header {
  margin: 70px 0 35px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
}

.section-header__num {
  font-family: 'Lora', serif;
  font-weight: 700;
  font-size: 24px;
  color: #64FFDA;
}

.section-header__title {
  margin: 0 30px;
  font-size: 36px;
  font-weight: 700;
}

.section-header__line {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 1px;
  background-color: #64FFDA;
}

.section-footer {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  margin-top: 35px;
}

.section-footer__line {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 1px;
  background-color: #64FFDA;
  min-width: 30%;
}

.section-footer__content {
  font-size: 0.6em;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 10;
  background-color: #222;
  -webkit-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.loading.ready {
  display: none;
}

.loading.hidden {
  opacity: 0;
}

.loading__wrapper {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loading__wrapper span {
  margin-bottom: 15px;
}

.bar {
  width: 10px;
  height: 70px;
  background: #fff;
  display: inline-block;
  -webkit-transform-origin: bottom center;
      -ms-transform-origin: bottom center;
          transform-origin: bottom center;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  /*   box-shadow:5px 10px 20px inset rgba(255,23,25.2); */
  -webkit-animation: loader 1.2s linear infinite;
          animation: loader 1.2s linear infinite;
}

.bar1 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.bar2 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.bar3 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.bar4 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.bar5 {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.bar6 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.bar7 {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.bar8 {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: scaleY(0.1);
            transform: scaleY(0.1);
    background: white;
  }

  50% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    background: yellowgreen;
  }

  100% {
    -webkit-transform: scaleY(0.1);
            transform: scaleY(0.1);
    background: transparent;
  }
}

@keyframes loader {
  0% {
    -webkit-transform: scaleY(0.1);
            transform: scaleY(0.1);
    background: white;
  }

  50% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    background: yellowgreen;
  }

  100% {
    -webkit-transform: scaleY(0.1);
            transform: scaleY(0.1);
    background: transparent;
  }
}

.fullscreen__wrapper {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fullscreen__block {
  margin: 25px 0;
}

.fullscreen__welcome h1 {
  font-size: 96px;
  font-weight: 700;
}

.fullscreen__welcome span {
  font-family: 'Lora', serif;
  font-style: italic;
  font-weight: 400;
  font-size: 36px;
}

.fullscreen__comment {
  max-width: 545px;
  margin: 0 auto;
  text-align: center;
  letter-spacing: 0.15rem;
}

.btn-next {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-next:hover > span {
  background-color: #222222;
}

.btn-next span {
  display: inline-block;
  width: 22px;
  height: 3px;
  border-radius: 1.5px;
  background-color: #64FFDA;
  position: relative;
  margin-left: 30px;
}

.btn-next span:before,
.btn-next span:after {
  content: '';
  width: 16px;
  height: 3px;
  border-radius: 1.5px;
  background-color: inherit;
  position: absolute;
}

.btn-next span:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: -5px;
}

.btn-next span:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 5px;
}

.about__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__left {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 60%;
          flex: 1 1 60%;
  margin-right: 30px;
  padding: 0 60px;
}

.about__left p {
  margin-bottom: 18px;
}

.about__photo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40%;
          flex: 1 1 40%;
}

.photo__wrapper {
  max-width: 90%;
  height: 0;
  padding-bottom: 90%;
  position: relative;
}

.photo__wrapper img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.photo__wrapper:before {
  content: '';
  display: block;
  position: absolute;
  top: 22px;
  left: 22px;
  background-color: transparent;
  width: 100%;
  height: 100%;
  border: solid 2px #64FFDA;
  z-index: -1;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.photo__wrapper:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #64FFDA;
  opacity: 60%;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.photo__wrapper:hover:after {
  opacity: 0;
}

.photo__wrapper:hover:before {
  top: 10px;
  left: 10px;
}

.skills__body {
  margin-left: 60px;
}

.skills__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skills__list li {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  max-width: 50%;
  margin-bottom: 20px;
  position: relative;
  padding-left: 45px;
  padding-right: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.skills__list li:before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  border: 10px solid transparent;
  border-left: 20px solid #64FFDA;
}

.skill__item {
  font-size: 20px;
}

.jobs__body {
  display: grid;
  grid-template-columns: repeat(2, 410px);
  grid-gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.job__wrapper {
  background-color: #383838;
  border-radius: 26px;
  padding: 25px 25px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.job__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.job__position {
  margin-top: 10px;
}

.job__info {
  font-size: 18px;
}

.job__image {
  width: 60px;
  height: 60px;
}

.job__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.job__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.job__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  font-size: 10px;
}

.tasks__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tasks__column {
  max-width: 50%;
  margin: 0 15px;
}

.tasks__item {
  margin-bottom: 30px;
}

.task__wrapper {
  background-color: #383838;
  border-radius: 26px;
  padding: 35px 25px;
  max-width: 410px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.task__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.task__header a {
  margin-left: auto;
}

.task__header a.not-ready {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}

.task__header:before {
  content: url("../img/folder_icon.svg");
}

.task__title {
  font-weight: 700;
  margin: 16px 0;
}

.task__info {
  font-size: 20px;
  margin-bottom: 28px;
}

.task__tech {
  font-size: 16px;
}

.task__tech ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.task__tech ul li {
  margin-right: 30px;
}

.task__tech ul li:last-child {
  margin-right: 0;
}

.faq__comment {
  font-size: 14px;
  margin-top: 15px;
}

.faq__accordion {
  margin-left: 60px;
}

.accordion__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 18px;
  border-radius: 16px;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.accordion__header:hover {
  background-color: #383838;
  cursor: pointer;
}

.accordion__header.open span:before {
  -webkit-transform: rotate(45deg) scaleX(0.6);
      -ms-transform: rotate(45deg) scaleX(0.6);
          transform: rotate(45deg) scaleX(0.6);
  background-color: #CCCCCC;
}

.accordion__header.open span:after {
  -webkit-transform: rotate(45deg) scaleY(0.6);
      -ms-transform: rotate(45deg) scaleY(0.6);
          transform: rotate(45deg) scaleY(0.6);
  background-color: #CCCCCC;
}

.accordion__header span {
  position: relative;
}

.accordion__header span:before {
  content: '';
  display: block;
  width: 28px;
  height: 4px;
  border-radius: 2px;
  background-color: #64FFDA;
  position: absolute;
  top: -2px;
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
  scale: 0.6;
}

.accordion__header span:after {
  content: '';
  display: block;
  width: 4px;
  height: 28px;
  border-radius: 2px;
  background-color: #64FFDA;
  position: absolute;
  left: 12px;
  top: -14px;
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
  scale: 0.6;
}

.accordion__collapse {
  padding: 2px 18px 2px 74px;
  position: relative;
  max-height: 0;
  -webkit-transition: max-height 1.0s ease;
  -o-transition: max-height 1.0s ease;
  transition: max-height 1.0s ease;
  overflow: hidden;
}

.accordion__collapse.open {
  max-height: 500px;
}

.accordion__collapse.open .collapse__content {
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  opacity: 1;
}

.accordion__collapse:before {
  content: '';
  display: block;
  position: absolute;
  height: calc(100% - 4px);
  width: 3px;
  background-color: #64FFDA;
  border-radius: 3px 0 0 3px;
  left: 60px;
  top: 2px;
}

.collapse__content {
  font-size: 20px;
  -webkit-transform: translateY(50px);
      -ms-transform: translateY(50px);
          transform: translateY(50px);
  opacity: 0;
  -webkit-transition: all 1.0s ease;
  -o-transition: all 1.0s ease;
  transition: all 1.0s ease;
}

.questions__title {
  margin-left: 40px;
  font-size: 24px;
}

.contact__wrapper {
  margin-bottom: 70px;
}

.contact__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 35px;
}

.contact__title {
  font-size: 72px;
  font-weight: 700;
}

.contact__comment {
  max-width: 590px;
  margin: 70px 0;
  text-align: center;
}

.contact__btn {
  color: #64FFDA;
}

.contact__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__link:hover {
  color: #64ffda;
  text-shadow: 0 0 15px #64ffda;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.footer__wrapper {
  width: 100%;
  border-top: 2px solid #383838;
  font-size: 12px;
  padding: 24px 0;
  text-align: center;
}

@media (max-width: 930px) {
  body {
    font-size: 18px;
  }

  .section-header__title {
    font-size: 28px;
    margin: 0 15px;
  }

  .fullscreen__welcome h1 {
    font-size: 72px;
  }

  .fullscreen__welcome span {
    font-size: 26px;
  }
}

@media (max-width: 768px) {
  .section-header {
    width: 100%;
    margin: 30px 0 15px 0;
  }

  .section-footer {
    width: 100%;
    gap: 15px;
    margin-top: 15px;
  }

  .section-footer__line {
    min-width: 10%;
  }

  .about__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .about__left {
    margin: 0;
  }

  .photo__wrapper {
    max-width: 50%;
    padding-bottom: 50%;
    margin: 0 auto 35px auto;
  }

  .skills__list li {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    max-width: none;
  }

  .tasks__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .tasks__column {
    max-width: none;
  }

  .jobs__body {
    grid-template-columns: repeat(1, auto);
  }

  .faq__accordion {
    margin-left: 45px;
  }
}

@media (max-width: 425px) {
  .fullscreen__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .fullscreen__welcome h1 {
    font-size: 38px;
  }

  .fullscreen__welcome span {
    font-size: 18px;
  }

  .fullscreen__comment {
    max-width: 80%;
  }

  .photo__wrapper {
    max-width: 80%;
    padding-bottom: 80%;
    margin: 0 auto 35px auto;
  }

  .about__left {
    padding: 0 30px;
  }

  .skills__body {
    margin-left: 30px;
  }

  .faq__accordion {
    margin-left: 30px;
  }

  .questions__title {
    font-size: 20px;
    margin-left: 46px;
  }

  .contact__title {
    font-size: 46px;
  }
}